 <ion-view view-title="Report">
  <ion-content>


  <div class = "row text-center padding-tb-40">
   <div class = "col padding-lr-20"><button ui-sref="app.search" class="button-clear"><img src="img/bus.png" class="ak-img-res"><p class="col000">Sale Summary</button></div>
   <div class = "col padding-lr-20"><button class="button-clear"><img src="img/car-or-bike.png" class="ak-img-res"><p class="col000">Sale by user</button></div>
   <div class = "col padding-lr-20"><button ui-sref="app.search" class="button-clear"><img src="img/data.png" class="ak-img-res"><p class="col000">Sale by Category</button></div>
 </div>

  <div class = "row text-center padding-tb-40">
 <div class = "col padding-lr-20"><button class="button-clear"><img src="img/DTH.png" class="ak-img-res"><p class="col000">Today Sale</button></div>
  <div class = "col padding-lr-20"><button ui-sref="app.search" class="button-clear"><img src="img/electricity.png" class="ak-img-res"><p class="col000">Hour Sale</button></div>
  <div class = "col padding-lr-20"><button class="button-clear"><img src="img/flight.png" class="ak-img-res"><p class="col000">Recent Payment 3 Days</button></div>
 </div>

<div class="margin-lr-10 padding-tb-60">
<button class="button button-block btnborder1">
   Sale by Month
</button>
<button class="button button-block btnborder2">
   Sale by Status
</button>
</div>




  </ion-content>
</ion-view>
