<ion-view title="Sales Summary">
  <ion-content>
  <div class="bar bar-subheader bar-calm top0 height30 padding-lr-20">

<div class = "row">
   <div class = "col-25"> Rajat</div>
   <div class = "col-50"></div>
   <div class = "	col-25">
 <ion-icon name="logo-octocat"></ion-icon><i class="icon ion-social-octocat"></i>   <select class="bordernone clrzero colfff text-right">
      <option selected>Rajat Gupta</option>
      <option>Option 2</option>
      <option>Option 3</option>
   </select></div>
</div>

</div>
<div class = "row">
   <div class = "col"><label class = "item item-input item-select">
   <div class = "input-label">
      Select
   </div>
  
   <select>
      <option>Option 1</option>
      <option selected>Option 2</option>
      <option>Option 3</option>
   </select>
</label></div>
   <div class = "col"><label class = "item item-input item-select">
   <div class = "input-label">
      Select
   </div>
  
   <select>
      <option>Option 1</option>
      <option selected>Option 2</option>
      <option>Option 3</option>
   </select>
</label></div>
  
 </div>

<div class="bar bar-footer">
   <div class = "row">
   <div class = "col-10">CSV</div>
   <div class = "col-10">PDF</div>
   <div class = "col-20">Excel</div>
   <div class = "col-20">Print</div>
   <div class = "col-33">Column Visiblity</div>
</div>
</div>




  </ion-content>
</ion-view>
